
body {
	display: flex;
	background-color: #f2f2f2;
	justify-content: center;
}

.main-wrapper {
	display: flex;
	flex: 0 1 50%;
	flex-direction: column;
	background-color: lightgrey;
	align-content: space-around;
	justify-content: center;
	padding-top: 10px;
	border-radius: 25px;

}

.grid-wrapper{
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	align-self: center;
	background-color: white;
	height: 300px;
	width: 300px;
	border-radius: 10px;
	justify-content: center;
	align-content: center;
	padding: 10px;

}

.control-panel{
	display: flex;
	flex: auto;
	align-content: center;
	justify-content: center;
	padding: 10px;
}
.control-panel > button{
	padding: 1em;
	margin: 10px;
	border-radius: 5px;
	box-shadow: 3px 7px;
}

.control-panel > button:active{
	box-shadow: 1px 3px;
	outline: none;
}

.control-panel > button:focus{
	outline: none;
}

i{
	font-size: 2em;
}

.container-row{
	display: flex;
	flex: 1 1 auto;
	align-content: center;
	justify-content: center;
	flex-wrap: nowrap;
}

.square{
	flex: 1 1 auto;
	display: flex;
	border-style: solid;
	border-width: thin;
}